PORT=5003
MONGODB_URI=mongodb://localhost:27017/cravecart
JWT_SECRET=your_jwt_secret_here
RESTAURANT_SERVICE_URL=http://restaurant-service:5004
USER_SERVICE_URL=http://user-service:3001
NOTIFICATION_SERVICE_URL=http://notification-service:5005
NODE_ENV=development 